<link href="~/Contents/home/button/css/button.css" rel="stylesheet" />
<div>
    <a href="@Url.Action("Slide1")" title="Emredersin">
        <p><span class="bg"></span><span class="base"></span><span class="text">Slide 1 Gelsin</span></p>
    </a>
    <a class="white" href="@Url.Action("Slide2")" title="Emredersin">
        <p><span class="bg"></span><span class="base"></span><span class="text">Bas Hadi XD</span></p>
    </a>
    <a class="transparent" href="@Url.Action("Slide3")" title="Emredersin">
        <p><span class="bg"></span><span class="base"></span><span class="text">Slide 3 Gelsin</span></p>
    </a>
</div>